* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: url(img/fondo1.jpg) no-repeat center;
    background-size:auto; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */

}

a {
    text-decoration: none;
    color : #77d353;
}

.contenedor {
    width: 100%;
    max-height: 20vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "header"
                         "contenido";
    transition: all .3s ease;
}



.header {
    background: url(img/fondo1.jpg) no-repeat center;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    padding: 0 20px; /* 0 arriba y abajo  20 derecha izquierda*/
    height: 100px; /* Incrementa la altura a 80 píxeles */
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items:center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo busqueda iconos"; 
}

#ecomap {
    position: absolute;
    font-family: Arvo; font-size: 60px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    font-style:italic;
    top:36px;
    left: 100px;
    color:#3b9916;
}

.header .contenedor-logo {
    grid-area: logo;
    display: grid;
    align-items: center;
}

#imagen1 {
    padding: 7px 12px;
    border-radius: 200px;
    font-size:1000px;
    color: #fff;
    position:relative; /* es para ponerlo para bajar o subir */
    top:-1px;
    margin-right: 4.5px;
    width: 100%;
    height: 100%;
}

.header .botones-header {
        grid-area: iconos;
        display:block ;
        align-items: center;
}
   
.header .botones-header a {
        background: none;
        border:none;
        width: 40px;
        height: 40px;
        font-size: 30px;
        padding: 1px 20px;
        border-radius:40px;
        color: #5c5c5c;
        margin-right: 0px;
        margin-top: 3px;
        cursor:pointer;
        width: 10%;
        height: 10%;
}

/* Estilo del botón azul para el botón con ID "boton1" */
#boton1 {
    background-color: #0d3f78; /* Color de fondo azul */
    color: #FFFFFF; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interior del botón */
    border: none; /* Sin borde */
    text-decoration: none; /* Quitar subrayado de enlace */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
 }

.header .botones-header a:hover {
    background: #E7E7E7;
}

@keyframes brillo {
    0% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.7;
    }
}


.main {
    background: url(img/fondo1.jpg) no-repeat center;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */

    padding: 10px;
    grid-area: contenido;
    display: grid;
    grid-template-areas: "imagen textoGrande"
                         "imagenVacio info1";
}

.main .titulo {
    font-size: 55px;
    margin-bottom: 10px;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-end; /* Aliniea hacia abajo verticalmente */
    padding-top: 10px;
    padding-left: 10px; 
    

}

.main .info1 {
    font-size: 20px;
    margin-bottom: 40px;
    justify-content: right;
    grid-area: info1;
    position: relative; /* Establecer la posición relativa para el elemento */
    top: -200px; /* Mover el texto hacia arriba */
    padding-top: 200px;

    right: 20px; /* Mover el texto hacia la derecha */
}

.imagen-flecha  {

    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.imagen-flecha  h3{

   padding: 12px;
   font-size: 50px;
    
}

.imagen-flecha img{

    width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    pointer-events: none; 
}
.imagen-flecha2 {
    transform: scale(0.04);
    width: 100%;
    max-width: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 20px;
    position: absolute;
    right: 900px;
    bottom: 450px;
    pointer-events: none; /* Hace que la imagen sea estática e inactiva */

    
}
.main .imagen-flecha3 {
    transform: scale(0.04);
    width: 100%;
    max-width: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 20px;
    position: absolute;
    right: 900px;
    bottom: 340px;
    pointer-events: none; /* Hace que la imagen sea estática e inactiva */

}



.main .imagenes-informacion {
    margin-top: -55px;
    left: 350px;
    position: relative;
    grid-area: imagen;
    margin-left: 10px;
    transform: scale(0.9); /* Reducir el tamaño al 50% */
}